
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">Article</title>
    </head>
    <body>

    <h3 th:text="${author.realname}"/>

    <a th:text="${author.realname}"  th:href="@{${author.name}}"/>
    <a th:text="${author.id}"  th:href="@{'/authors/'+${author.id}}"/>

    <h2 th:text="${title}">Title</h2>

    <div th:include="header::header"> HEADER </div>

    <!--<p th:text="${article}" />-->

    <a th:text="delete" th:href="@{'/article/delete/' + ${id}}"/>

    <div th:with="size=0">

        <a th:each="word : ${article}">
            <!--<i th:text="${word.getRevWord()}"/>-->

            <!--<a th:text="${size}"/>-->

            <sup th:with="size=${size+1}" th:text="${word.word.size}"/>

            <a th:if="${word.clause}">
                <b th:text="${word.word.word}"/>
                <br/>
            </a>
            <a th:unless="${word.clause}">
                <a th:text="${word.word.word}"/>
            </a>

            <!--<a th:text="${word.word.word}" th:href="@{'http://localhost:8080/wordbook/word/'+${word.word.id}}"/>-->

            <!--<i th:text="${word.getLetters(true)}"/>-->
            <!--<i th:text="${word.getWord(true)}"/>-->
            <!--&nbsp-->
        </a>

    </div>

    <a th:text="delete" th:href="@{'/article/delete/' + ${id}}"/>

    <!--<a href="/authors/"> back to authors </a>-->
    <!--<a href="/articles/"> back to articles </a>-->

    <div th:replace="footer::footer"> FOOTER </div>

    </body>

</html>