<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">Article</title>
    </head>

    <body>

        <div th:include="header::header"> HEADER </div>

        <h3 th:text="${author.realname}"/>

        <a th:text="${author.realname}"  th:href="@{${author.name}}"/>
        <a th:text="${author.id}"  th:href="@{'/authors/'+${author.id}}"/>

        <h2 th:text="${title}">Title</h2>

        <table th:with="size=0">
            <tr th:each="clause : ${table}">
                <td th:text="${clause.clause}"/>
                <td/>
                <td th:text="${clause.number}"/>
                <td/>
                <!--<td th:text="${clause.text}"/>-->
                <td>
                    <a th:each="word : ${clause.text}">
                        <!--<a th:text="${word.word.word}"/>-->
                        <a th:if="${word.lineBreak}">
                            <b th:text="${word.word.word}"/>
                            <br/>
                        </a>
                        <a th:unless="${word.lineBreak}">
                            <a th:text="${word.word.word}"/>
                        </a>
                    </a>
                </td>
                <td/>
                <td th:text="${clause.parts}"/>
            </tr>
        </table>

        <a th:text="delete" th:href="@{'/article/delete/' + ${id}}"/>

        <div th:replace="footer::footer"> FOOTER </div>

    </body>

</html>