<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>CLAUSES</title>
</head>

<body>
<div th:include="header::header"> HEADER </div>

<!--<a th:each ="page : ${pages}">-->
    <!--<a th:text="${page}" th:href="@{'http://localhost:8080/clause/page?page='+${page}}">-->
        <!--page-->
    <!--</a>-->
<!--</a>-->

<a th:each="page : ${#numbers.sequence( 0, pages)}">
    <a th:text="${page}" th:href="@{'http://localhost:8080/clause/page?page='+${page}}">
        page
    </a>
</a>

<table>
    <!--<i th:text="${#strings.replace(clause.word,word.getEnd(),'('+clause.getEnd()+')')}" />-->
    <tr th:each ="clause : ${clauses}" valign="bottom">
        <td th:if="${clause.number}==1" width="20%" bgcolor="#f5f5f5">
            <br/>
            <a th:text="${clause.article.id}"/>
            <b th:text="${clause.article.title}"/><br/>
            <i th:text="${clause.article.author.realname}"/>
        </td>
        <td th:unless="${clause.number}==1"/>

        <td width="1%"/>
        <!--<td th:text="${clause.clause}" width="30%"/>-->
        <!--<td/>-->
        <td th:text="${clause.number}" width="1%" align="right"/>
        <td width="1%"/>
        <td width="1%" th:text="${clause.end}"/>
        <td width="1%"/>
        <td th:text="${clause.parts}" width="1%" align="center"/>
        <td width="1%"/>
        <!--<td th:text="${clause.text}" width="30%"/>-->
        <td>
            <a th:each="word : ${clause.text}">
                <!--<a th:text="${word.word.word}"/>-->
                <a th:if="${word.lineBreak}">
                    <b th:text="${word.word.word}"/>
                </a>
                <a th:unless="${word.lineBreak}">
                    <i th:text="${word.word.word}"/>
                </a>
            </a>
        </td>
        <td width="1%"/>
    </tr>
</table>

<div th:replace="footer::footer"> FOOTER </div>

</body>
</html>