<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FOOTER</title>
</head>
<body>
<div th:fragment="footer">
    <h3>
        <a href="http://localhost:8080"> home </a>
        <a href="http://localhost:8080/avtor"> avtor </a>
        <a href="http://localhost:8080/poems"> poems </a>
        <a href="http://localhost:8080/today"> today </a>
        <a href="http://localhost:8080/articles/"> articles </a>
        <a href="http://localhost:8080/authors/"> authors </a>
        <a href="http://localhost:8080/wordbook/"> wordbook </a>
    </h3>
</div>
</body>
</html>