<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HEADER</title>
</head>
<body>
<div th:fragment="header">
    <h3>
        <a href="#" onclick="history.back(-2);"> back </a>

        <a href="http://localhost:8080"> home </a>

        <a href="http://localhost:8080/today"> today </a>

        <a href="http://localhost:8080/avtor"> avtor </a>

        <a href="http://localhost:8080/poems"> poems </a>

        <a href="http://localhost:8080/articles/"> articles </a>

        <a href="http://localhost:8080/authors/"> authors </a>

        <a href="http://localhost:8080/clause/page?page=0"> clauses </a>
        <a href="http://localhost:8080/clause/parts"> clauseends </a>

        <a href="http://localhost:8080/wordbook/page?page=0"> wordbook </a>
        <a href="http://localhost:8080/wordbook/ends"> ends </a>

        <a href="http://localhost:8080/links/1"> links1 </a>
        <a href="http://localhost:8080/links/2"> links2 </a>
        <a href="http://localhost:8080/links/3"> links3 </a>

    </h3>
</div>
</body>
</html>