
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Russian Articles</title>
</head>
<body>
<div>
    <table border="0">
        <tr>
            <th>ID</th>
            <th>ARTICLE</th>
            <th>WC</th>
        </tr>
        <tr th:each ="article : ${articles}">
            <td> <a th:text="${article.id}" th:href="@{'/article/' + ${article.id}}"></a> </td>
            <td> <a th:text="${article.name}" th:href="@{${article.name}}"></a> </td>
            <td th:text="${article.wc}" > </td>
        </tr>
    </table>
</div>

</body>
</html>