
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>

<div th:include="header::header"> HEADER </div>

<div>
    <table border="0">
        <tr>
            <th><a href="/articles/order/id">ID</a></th>
            <th><a href="/articles/order/name">ARTICLE</a></th>
            <th><a href="/articles/order/id">AuthorId</a></th>
            <th><a href="/articles/order/author">Author</a></th>
            <!--<th><a href="/articles/order/author">Author</a></th>-->
            <th><a href="/articles/order/title">Title</a></th>
            <th><a href="/articles/order/cc">CC</a></th>
            <th><a href="/articles/order/wc">WC</a></th>
        </tr>
        <tr th:each ="article : ${articles}">
            <td> <a th:text="${article.id}" th:href="@{'/article/' + ${article.id}}"/> </td>
            <td> <a th:text="${article.name.substring(20)}" th:href="@{${article.name}}"></a> </td>
            <td> <a th:text="${article.author.id}"  th:href="@{'/authors/' + ${article.author.id}}"/> </td>
            <td> <a th:text="${article.author.realname}"  th:href="@{${article.author.name}}"/> </td>
            <!--<td> <a th:text="${article.author.realname}"  th:href="@{'/authors/'+${article.author.id}}"/> </td>-->
            <!--<td> <a th:text="${article.title}" th:href="@{'/article/' + ${article.id}}"/> </td>-->
            <td> <a th:text="${article.title}" th:href="@{'/article/table/' + ${article.id}}"/> </td>
            <td th:text="${article.cc}" > </td>
            <td th:text="${article.wc}" > </td>
            <td> <a th:text="delete" th:href="@{'/article/delete/' + ${article.id}}"/> </td>
        </tr>
    </table>
</div>

<div th:replace="footer::footer"> FOOTER </div>

</body>
</html>