
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>MAIN PAGE</title>
    </head>
    <body>
        <div th:include="header::header"> header </div>
        <div>
            <table border="0">
                <tr>
                    <th>ARTICLE</th>
                </tr>
                <tr th:each ="item : ${list}">
                    <td> <a th:text="${item.substring(86)}" th:href="@{${item}}"></a> </td>
                </tr>
            </table>
        </div>
        <div th:replace="footer::footer">&copy; 2016 The Static Templates</div>
    </body>
</html>