
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MAIN PAGE</title>
</head>
<body>
    <h3>
    <a href="http://localhost:8080"> home </a>
    <a href="http://localhost:8080/avtor"> avtor </a>
    <a href="http://localhost:8080/poems"> poems </a>
    <a href="http://localhost:8080/today"> today </a>
    <a href="http://localhost:8080/articles/"> articles </a>
    </h3>
    <table border="0">
        <tr>
            <th>ARTICLE</th>
        </tr>
        <tr th:each ="item : ${list}">
            <td> <a th:text="${item.substring(86)}" th:href="@{${item}}"></a> </td>
        </tr>
    </table>
</body>
</html>