<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>WordBook</title>
</head>

<body>

<div th:include="header::header"> HEADER </div>

<!--<a href="http://localhost:8080/wordbook/page?page=0"> 0 </a>-->
<!--<a href="http://localhost:8080/wordbook/page?page=1"> 1 </a>-->
<!--<a href="http://localhost:8080/wordbook/page?page=2"> 2 </a>-->
<!--<a href="http://localhost:8080/wordbook/page?page=3"> 3 </a>-->
<!--<a href="http://localhost:8080/wordbook/page?page=4"> 4 </a>-->
<!--<a href="http://localhost:8080/wordbook/page?page=5"> 5 </a>-->
<!--<a href="http://localhost:8080/wordbook/page?page=6"> 6 </a>-->
<!--<a href="http://localhost:8080/wordbook/page?page=7"> 7 </a>-->
<!--<a href="http://localhost:8080/wordbook/page?page=8"> 8 </a>-->

    <!--<a th:each ="page : ${pages}">-->
        <!--<a th:text="${page}" th:href="@{'http://localhost:8080/wordbook/page?page='+${page}}">-->
            <!--page-->
        <!--</a>-->
    <!--</a>-->
    <a th:each="page : ${#numbers.sequence( 0, pages)}">
        <a th:text="${page}" th:href="@{'http://localhost:8080/wordbook/page?page='+${page}}">
            page
        </a>
    </a>

<div></div>

<div style="display: flex; flex-direction: column; flex-wrap: wrap; max-height: 85vh;">
    <div style="display: flex;" th:each ="word : ${wordbook}">
        <!--<div>-->
        <!--<a th:text="${word.word}" th:href="@{'http://localhost:8080/word/'+${word.id}}"> </a>-->
        <!--<i th:text="${word.getDescription()}"/> : -->
        <!--<i th:text="${word.getParts()}"/> :-->
        <!--<a th:text="${#strings.replace(word.getDescription(),word.getEnd(),'('+word.getEnd()+')')}"-->
        <a th:text="${word.getParts()}"
           th:href="@{'http://localhost:8080/wordbook/word/'+${word.id}}"/>
        <!--<i th:text="${#strings.replace(word.word,word.getEnd(),'('+word.getEnd()+')')}" />-->
        <!--th:href="@{'http://localhost:8080/wordbook/word/'+${word.id}}"/>-->
        <!--</div>-->
    </div>
</div>

<!--<div>-->
    <!--<a th:each ="word : ${wordbook}">-->
        <!--&lt;!&ndash;<i th:text="${word.getRevWord()}"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<a th:text="${word.word.word}" th:href="@{'http://localhost:8080/wordbook/word/'+${word.id}}"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<a th:text="${word.word}" th:href="@{'http://localhost:8080/wordbook/word/'+${word.id}}"/>&ndash;&gt;-->
        <!--<i th:text="${#strings.replace(word.word,word.getEnd(),'('+word.getEnd()+')')}" />-->
           <!--&lt;!&ndash;th:href="@{'http://localhost:8080/wordbook/word/'+${word.id}}"/>&ndash;&gt;-->
        <!--<s th:text="${word.getDescription()}"/>-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<i th:text="${word.getLetters(true)}"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<i th:text="${word.getWord(true)}"/>&ndash;&gt;-->
        <!--&lt;!&ndash;&nbsp&ndash;&gt;-->
    <!--</a>-->
<!--</div>-->

<div th:replace="footer::footer"> FOOTER </div>

</body>

</html>