<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>WordBook</title>
</head>

<body>

<div th:include="header::header"> HEADER </div>

<a href="http://localhost:8080/wordbook/page?page=0"> 0 </a>
<a href="http://localhost:8080/wordbook/page?page=1"> 1 </a>
<a href="http://localhost:8080/wordbook/page?page=2"> 2 </a>
<a href="http://localhost:8080/wordbook/page?page=3"> 3 </a>
<a href="http://localhost:8080/wordbook/page?page=4"> 4 </a>
<a href="http://localhost:8080/wordbook/page?page=5"> 5 </a>
<a href="http://localhost:8080/wordbook/page?page=6"> 6 </a>
<a href="http://localhost:8080/wordbook/page?page=7"> 7 </a>
<a href="http://localhost:8080/wordbook/page?page=8"> 8 </a>
<a href="http://localhost:8080/wordbook/page?page=9"> 9 </a>

<div>
    <a th:each ="word : ${wordbook}">
        <!--<i th:text="${word.getRevWord()}"/>-->
        <!--<a th:text="${word.word.word}" th:href="@{'http://localhost:8080/wordbook/word/'+${word.id}}"/>-->
        <!--<a th:text="${word.word}" th:href="@{'http://localhost:8080/wordbook/word/'+${word.id}}"/>-->
        <i th:text="${#strings.replace(word.word,word.getEnd(),'('+word.getEnd()+')')}" />
           <!--th:href="@{'http://localhost:8080/wordbook/word/'+${word.id}}"/>-->
        <!--<b th:text="${word.getEnd()}"/>-->
        <!--</a>-->
        <!--<i th:text="${word.getLetters(true)}"/>-->
        <!--<i th:text="${word.getWord(true)}"/>-->
        <!--&nbsp-->
    </a>
</div>
<div th:replace="footer::footer"> FOOTER </div>

</body>

</html>